# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=RupeeEvolution-Qt Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/rupeeevolution;
Exec=rupeeevolution.qt-regtest %u
Terminal=false
Categories=Office;Finance;
Comment=Rupee Evolution Core Regression Test (by RUPEEEVOLUTION-Project)
Keywords=internet;rupeeevolution;regtest;qt;crypto;currency;snap;snapcraft;RUPEEEVOLUTION-Project;project;daemon;cli;qt;zerocoin;zrupee
