# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=RupeeEvolution-Qt Testnet
Icon=${SNAP}/qt-testnet.ico
MimeType=x-scheme-handler/rupeeevolution;
Exec=rupeeevolution.qt-testnet --testnet %u
Terminal=false
Categories=Office;Finance;
Comment=Rupee Evolution Core Regression Test (by RupeeEvolution-Project)
Keywords=internet;rupeeevolution;testnet;qt;crypto;currency;snap;snapcraft;RUPEEEVOLUTION-Project;daemon;cli;qt;zerocoin;zrupee
